/* reset da página */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------ */

/* raiz */
:root
{
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --cor-primaria:  #FCE4EC;
    --cor-secundaria: #e69db5;
    --cor-terciaria: #D3658A ;
    --cor-quarternaria:  #C12A5D;
    --cor-quintenaria:  #8b1a42;
}

#container-conteudo
{
    color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#div-content
{
    margin-top: 5%;
    padding: 3% 5%;
}

#div-content h1
{
    font-size: 10.2rem;
}

#div-content #sub
{
    font-size: 7.2rem;
}

#div-content #desc
{
    margin-top: 5%;
    font-size: 5rem;

}

.carousel1 img
{
    width: 300px;
    height: 350px;
    padding: 5%;
}

.carousel1
{
    margin-top: 10%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;

    animation: 3.5s com-opacidade forwards ease-in;

}

#content-curso
{
    padding: 0% 15% 0 15%;
    margin-bottom: 5%;
    font-size: 4.5rem;
    text-align: left;
}

#content-curso h1
{
    margin-bottom: 5%;
}


/* Mostrar o conteúdo */
.content-show
{
    animation: 1s com-opacidade forwards ease-in;
    display: block;
}

/* ocultar o conteúdo */
.content-hide
{
    animation: 1s sem-opacidade forwards ease-in;
}

.content-shutdown
{
    display: none;
}


@keyframes com-opacidade
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes sem-opacidade
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.btn-bar
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: white;
}

.btn-content
{
    padding: 1.5%;
    font-size: 4rem;
    background-color: var(--cor-quintenaria);
    color: white;
    border: 0px solid white;
    flex-basis: 30% ;
}
